html {
	scroll-behavior: smooth;
}

.icon {
    max-width: 15rem!important;
    text-align: center;
}

#oi {
	margin:auto;
}

#partedoselect {
	margin-bottom: 3rem;
	margin-top: 1rem;
	font-family: 'DM Serif Text', serif;
	font-weight: bold;
	font-size: 1.5rem;
}


.titulo-pol{
	font-family: 'DM Serif Text', serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 3rem;
}

#sobre{
	padding: 5rem;
	color: #6FBAC6;
}

.cidade{
	font-family: 'DM Serif Text', serif;
	font-weight: bold;
}

#como-evitar{
	background-color: #F5F7F8;
	padding: 3rem;
	margin-bottom: 5rem;

}

#como-evitar h1{
	font-family: 'DM Serif Text', serif;
	font-weight: bold;
}

#como-evitar h2{
	font-family: 'DM Serif Text', serif;
	font-weight: bold;
}

.planet{
	width: 80%;
}
 /* ajustes dos cards*/

.temperatura{
	font-family: 'DM Serif Text', serif;
	font-weight: bold;
}

.icic {
	width: 2rem!important;
}

#iconeslista {
	list-style: none;
}


.poi {
  display: table;
  margin-top: 1rem;
}

.imgs {
  vertical-align: middle;
  display: table-cell;
  padding: 0!important;
  margin-right: 0.5rem;

}
.aei {
  vertical-align: middle;
  display: table-cell;
}

.gi {
	vertical-align: middle;
	margin: 0!important;
}

#imgcontainer1 {
  display: flex;
  justify-content: center;
}

#temp {
	margin-top: 2.5rem;
	margin-bottom: 2rem;
}

.card {
	margin-bottom: 1rem;
}


.legenda{
	background-color: #BDD9E0;
	padding: 1rem;
	font-size: 20px;
	color: #444444;
}

.legenda strong{
	font-family: 'DM Serif Text', serif;
}
/* FOOTER */

 

footer{
     background-color: #D9D7DC;
     padding: 3rem;
}           

 

.logo{
    color: black;
    font-weight:700;
    font-size:30px;
}

 

.address span , .menu span{
   color: black; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7; 
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}
 
.address li a , .menu li a{
    color: black;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
}

 

.address li, .menu li{
    margin:20px 0px;
    list-style: none;
}

 

.address li a:hover , .menu li a:hover{
    color: white;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

 

.address .fa{
    color: black;
    margin-right: 10px;
    font-size:18px;
}

 

.logo{
    height: 50%;
}